html {
    color: black;
    display: flex;
    margin: auto;
}

header {
    width: 960px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
    margin-bottom: 5%;

}

body {
    width: 100%;
}

ul.nav-bar > li {
    color: red;
    display: inline-block;
    padding: 1%;
}

h1 {
    color: rgb(72, 72, 152);
}

img {
    width: 500px;
    border: 5px;
}

.main {
    padding: 1px;
    justify-content: flex-start;
    columns: 2;
    align-items: center;
    flex-direction: column;
}